<!DOCTYPE html>
<html lang="en">

<head th:replace="~{head :: head('Nova Tarefa')}">
</head>

<body>
    <form class="border border-2 shadow-sm p-3 rounded container mt-5" action="/tasks/save" method="POST">
        <h3 class="text-center">Tarefa</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome da tarefa</label>
            <input name="name" type="text" class="form-control" id="exampleFormControlInput1" th:field="*{task.name}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea name="description" class="form-control" th:field="*{task.description}"
                id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </div>
        <input type="hidden" id="id" th:field="*{task.id}">
    </form>
</body>

</html>