<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{head :: head('Tarefas Atuais')}"></head>

<body class="container pt-5">
    <div th:replace="~{head :: header('Tarefas')}">

    </div>
    <div class="card m-2" th:each="task: ${tasks}">
        <div class=" card-header">
            <div class="row">
                <div class="col-6">
                    <h5 th:text="${task.name}"></h5>
                </div>
                <div class="col-6 text-end">
                    <a class="text-decoration-none" th:href="@{'tasks/editar/' + ${task.id}}">
                        <img class="me-2" src="https://img.icons8.com/ios/50/null/edit-row.png" style="height: 26px;" />
                    </a>
                    <a class="text-decoration-none" th:href="@{'tasks/delete/' + ${task.id}}">
                        <img src="https://img.icons8.com/ios-filled/50/null/delete-trash.png" style="height: 23px;" />
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body" th:text="${task.description}">
        </div>



    </div>

</body>

</html>